/* applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    .header,
    .banner,
    section {
        padding: 0px 80px;
    }
}

/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    .header,
    .banner,
    section {
        padding: 0px 70px;
    }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .header,
    .banner,
    section {
        padding: 0px 50px;
    }

    nav>ul>li {
        margin-left: 7px;
        list-style: none;
    }
    /* .banner-title {
        font-size: .25rem;
    } */

}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .header {
        flex-direction: column;

    }

    nav>ul>li {
        margin-left: 15px;
        padding: 30px 0px;
    }

    nav>ul>li>a {

        margin-left: 0px;
    }

    .banner-content,
    .banner-img-box,
    .featured-img,
    .featured-content {
        width: 100%
    }

    .header,
    .banner,
    section {
        padding: 0px 50px;
    }

    .banner,
    .featured {
        flex-direction: column-reverse;
    }

    .collections-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* featured styles  */
    .featured {
        padding-top: 20px;
    }

    .featured-img,
    .featured-content {
        text-align: center;
        padding: 0px;
    }

    .featured-img {
        margin-top: 30px;
    }
}

/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .header,
    nav>ul {
        flex-direction: column;

    }

    .banner-content,
    .banner-img-box,
    .featured-img,
    .featured-content {
        width: 100%
    }

    header,
    section {
        padding: 18px;
    }

    .banner {
        padding: 0px 00px;
    }

    .banner-title{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .banner,
    .featured {
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
    }

    nav>ul {
        text-align: center;
        padding: 10px;
    }

    nav>ul>li {

        padding: 10px 0px;
    }

    /* sponsor styles  */
    .sponsor-img-container {
        justify-content: center;

    }

    .sponsor-img-container img {
        width: 100%;

    }

    /* collection section  */
    .collections-container {
        grid-template-columns: 1fr;
    }

    /* featured styles  */
    .featured {
        padding-top: 20px;
    }

    .featured-img,
    .featured-content {
        text-align: center;
        padding: 0px;
    }

    .featured-img {
        margin-top: 30px;
    }

    /* footer styles  */
    .footer>h1 {
        font-size: 2rem;
    }

}