/* common sheared styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

:root {
    --primary-color: #3A3A3A;
    --text-gray: #18191F;
    --gray-50: #787885;
    --btn-text: #FFF
}

section,
.header,
.banner {
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}
/* header styles  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    padding-bottom: 0px;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin-left: 20px;
    list-style: none;
}

nav>ul>li>a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

.logo>h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

/* banner styles  */
.banner{
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.banner-content{
    width: 50%;
    
}
.banner-img-box{
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}
.banner-title {
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    align-self:center;
}

.banner-description {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 0px;
}

.preebook-btn {
    color: var(--btn-text);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
}
.btn-arrow{
    margin-left: 10px;
}