/* common sheared styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

:root {
    --primary-color: #3A3A3A;
    --text-gray: #18191F;
    --gray-50: #787885;
    --btn-text: #FFF;
    --text-gray-900: #18191F;
    --orange-60: #FB8200;
    --blue: #0A0826;
    --text-gray-300: #D9DBE1;
}


.header,
.banner,
section {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/* header styles  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    padding-bottom: 0px;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin-left: 20px;
    list-style: none;
}

nav>ul>li>a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

.logo>h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

/* banner styles  */
.banner {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.banner-content {
    width: 50%;

}

.banner-img-box {
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.banner-title {
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    align-self: center;
}

.banner-description {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 0px;
}

.preebook-btn {
    color: var(--btn-text);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
}

.btn-arrow {
    margin-left: 10px;
}

/* header end  */
/* main start  */

/* sponsor start  */
.sponsor-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsor-img-container img {
    padding: 20px;
    max-width: 60px;
    text-align: center;
}

/* sponsor end  */
/* collections styles   */

.collection-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 70px;
    margin: 26px 0px;
}

.collection-cart-title {
    color: var(--text-gray-900);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    margin: 16px 0px;
}

.collections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-cart {
    padding: 14px;
    border-radius: 5px;
    background: var(--btn-text);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
}

.rating-point {
    color: var(--gray-50);
    font-size: .8rem;
    font-weight: 700;
    line-height: 22px;
    margin: 8 0px;
}

.rating-icon i {
    color: var(--orange-60)
}

.collection-cart-description {
    color: var(--gray-50, );
    font-size: .9rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

/* featured styles  */
.featured {
    display: flex;
    padding-top: 191px;
    align-items: center;
    margin-bottom: 100px;
}

.featured-img {
    padding-right: 45px;

}

.featured-content {
    width: calc(100% - 404px);
    padding-left: 45px;
}

.featured-title {
    color: var(--blue);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
}

.featured-description {
    color: var(--gray-50);
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    margin: 16px 0px;
}

.featured-btn {
    background: #E02C6D;
    color: var(--btn-text);
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;

}

/* footer styles  */
footer {
    background: var(--blue);

}

.footer {
    text-align: center;
    color: var(--btn-text);
    padding: 50px 0px;
}

.footer h1 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.footer p {
    color: var(--text-gray-300);
    font-size: .8rem;
    font-weight: 700;
    line-height: 24px;
}

.footer h4 {
    color: var(--text-gray-300);
    font-size: .8rem;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 17px;
}
.footer-icon-box i{
    color:var(--btn-text);
    background: #4f4f4f2b;
    padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
    margin: 8px;
}